html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
}

#app-ui{
    display: flex;
    height: 100%;
    width: 100%;
}
#side-menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    min-height: 100%;
    background-color: #25282d;
    color: white;
    position: fixed;
}

#menu-title{
    display: flex;
}

#app-name{
    padding-left: 0.5em;
}

#user-status{
    padding-left: .5em;
    display: flex;
    margin-top: 1.7em;
    margin-left: 0.5em;
    margin-bottom: 1.7em;
    padding-right: 0.5em;
    font-size: 1em;
    background-color: #6e4bd3;
    border-radius: .2em;
}

#menu-options ul{
    padding-inline-start: 10%;
}

.menu-option{
    height: 3em;
    list-style-type: none;
}

.user-picture{
    height: 30px;
    width: 30px;
    margin-right: 0.5em;
    margin-top: 1em;
    border-radius: 15px;
}
#menu-user{
    padding-left: 0.75em;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: baseline;
}

#user-details{
    margin-left: auto;
    margin-right: 1em;
    background-color: #25282d;
    color: white;
    border: none;
}
#user-details:focus{
    outline: none;
}

#list{
    width: 85%;
    margin-left: 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#search-bar{
    background-color: white;
    padding: 0.5em 1.5em;
    box-shadow: 20px 20px 20px 20px lightgray ;
}

#search-field{
    background-color: white;
    border: gray 1px solid;
    display: flex;
    justify-content: space-between;
    border-radius: 0.2em;
}

#search-placeholder{
    padding: 0.5em 1em;
    color: gray;
}

#search-button{
    background-color: #dee6e9;
    padding: 0.25em 1.75em 0.35em 1.75em;
    margin: .2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

#search-button:focus{
}

#user-list{
    background-color: white;
    margin: 1em 1em;
    padding-left:1em;
    padding-right: 1em;
    border: black 1px solid;
}

#user-number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-user-button{
    color: white;
    background-color: #6629ea;
    font-size: 0.75em;
    padding: 0em 1.75em;
    margin: 1.25em 0em;
    border-radius: 0.2em;
}

#user-search{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
    border: gray 1px solid;
}
#user-search-placeholder-text{
    width: 100%;
    font-size: 1em;
    border: none;
}

#user-search-placeholder-text:focus{
   outline:none;
}

#user-search-alt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
}

#user-search-placeholder{
    padding: 0.5em 0.5em;
    color: gray;
    width: 100%;
}

#user-search-button{
    background-color:white  ;
    padding: 0.25em 0.75em 0.35em 0.75em;
    margin: 0.2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

.user-list-icon{
    height: 15px;
    width: 15px;
    padding-right: 0.5em;
}

#user-list-details{
    margin-top: 2em;
    margin-bottom: 1em;
    min-width: 100%;
    border-bottom: gray 1px solid;
}
.user-list-head{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.user-list-item{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0em;
    border-right: gray 1px solid;
    border-left: gray 1px solid;
    border-top: gray 1px solid;
}

.list-column{
    padding-left: 1em;
}
.name{
    min-width: 20%;
}
.email{
    min-width: 20%;
}
.status{
    min-width: 10%;
}

.status-active{
    width: 50%;
    padding-left: 0.5em;
    color: green;
    border: green 1px solid;
}

.status-inactive{
    width: 60%;
    padding-left: 0.5em;
    color: gray;
    border: gray 1px solid;
}
.role{
    min-width: 10%;
}
.last-login{
    min-width: 10%;
}
.permission{
    min-width: 10%;
}
.option{
    justify-content: flex-end;
    font-size: 1em;
    min-width: 10%;
    text-align: center;
}

.option.list-column{
    background-color: white;
    border: none;
    font-weight: bold ;
}